<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_item">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Jordan 11's">
        </div>

        <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" name="description" value="" placeholder="Good Shoe. 10/10!">
        </div>

        <div class="form-group">
            <label for="price" class="text-light">Price</label>
            <input type="text" name="price" value="" placeholder="$99.99">
        </div>

        <div class="form-group">
            <label for="warehouse" class="text-light">Warehouse</label>
            <select name="warehouse" id="">
                <%- include('_dropdown') %>
            </select>
        </div>

        <div class="form-group">
            <label for="stock" class="text-light">In Stock</label>
            <div class="radio inline">
                <input type="radio" id="radio-1" name="stock" value="Available">
                <label for="radio-1" class="radio-label">Available</label>  
            </div>

            <div class="radio inline">
                <input type="radio" id="radio-2" name="stock" value="Unavailable">
                <label for="radio-2" class="radio-label">Unavailable</label>  
            </div> 
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>