<tr>
    <td>1</td>
    <td>Cool Item</td>
    <td>Nice Item! Should Buy!</td>
    <td>$9.99</td>
    <td>Available</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class=""><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class=""><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>